<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Test Suite" parallel="tests" thread-count="1">

    <listeners>
        <listener class-name="Listeners.TestListener"/>
    </listeners>

    <test verbose="2" name="QAAutomationTests">
        <classes>
            <class name="QAAutomationTests"/>
        </classes>
    </test>
</suite>